---
import Simpsons from '../components/Simpsons.astro';
import Layout from '../layouts/Layout.astro'
---

<Layout title="ASTROSimpsons">
	<main class="flex flex-col gap-4">
		<a href="/" class="border border-blue rounded-md p-2 hover:opacity-75 w-fit">Back to home</a>
		<Simpsons />
	</main>
</Layout>