---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Astrotesty">
	<main>
		<a href="/" class="border border-purple-300 rounded-md p-2 hover:opacity-75">Back to home</a>
	</main>
</Layout>