---
import Simpsons from '../components/Simpsons.astro';
import Layout from '../layouts/Layout.astro'
---

<Layout title="ASTROSimpsons">
	<main class="flex flex-col gap-4">
		<Simpsons />
	</main>
</Layout>