---
import SimpsonEpisode from '../components/SimpsonEpisode.astro';
import Layout from '../layouts/Layout.astro'
---

<Layout title="ASTROSimpsons">
	<main class="flex flex-col gap-4">
        <SimpsonEpisode title='La casita del terror - T32 4E' videoId='DIrcgTVW7zg' />
	</main>
</Layout>