---
import SimpsonEpisode from '../components/SimpsonEpisode.astro';
import Layout from '../layouts/Layout.astro'
---

<Layout title="Episodios - ASTROSimpsons">
	<main class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 place-content-center mt-2">
        <SimpsonEpisode  videoId='DIrcgTVW7zg' />
        <SimpsonEpisode  videoId='p6XIMPoJU0c' />
        <SimpsonEpisode  videoId='H-i51VHEXls' />
        <SimpsonEpisode  videoId='ijGAQZ6WCus' />
        <SimpsonEpisode  videoId='D6cyZy-ZQEo' />
        <SimpsonEpisode  videoId='oJUTBeZ-aeE' />
	</main>
</Layout>