---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ASTROSimpsons">
	<main>
		<section>
			<h2>Acerca de <span class="text-brown">Los Simpsons</span></h2>
			<p class="text-justify text-base lg:text-xl">"Los Simpsons" es una serie de animación adulta que se ha convertido en un fenómeno cultural desde su debut en 1989. Creada por Matt Groening, la serie sigue las peripecias de la disfuncional familia Simpson, compuesta por el patriarca, Homer, su esposa Marge y sus tres hijos, Bart, Lisa y Maggie. La familia Simpson vive en la ficticia ciudad de Springfield y se ha ganado el corazón de millones de espectadores en todo el mundo gracias a su humor satírico, personajes memorables y críticas sociales inteligentes. "Los Simpson" ha popularizado muchas frases y expresiones que se han convertido en parte de la cultura popular, como "¡Ay, caramba!", "D'oh!" (la exclamación de Homer), y "¡Mmm... rosquillas!".</p>
		</section>
	</main>
</Layout>

<style>
</style>

