---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ASTROSimpsons">
	<main>
		<a href="/about" class="border border-blue rounded-md p-2 hover:opacity-75">About the project</a>
	</main>
</Layout>

<style>
</style>
