<header class="flex flex-col items-center">
	<div class="w-48 opacity-40">
		<img src='./Simpsons_Logo.webp' alt="" class="w-full">
	</div>
	<h1 class="text-6xl font-bold text-gradient -mt-4">ASTROSimpsons</h1>

	<p class="italic text-white">Your favorite Simpsons info-page made with ASTRO!</p>
</header>

<style>
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
