<header class="flex flex-col items-center -mt-6">
	<div class="w-48 opacity-40">
		<img src='./Simpsons_Logo.webp' alt="" class="w-full">
	</div>
	<h1 class="text-5xl font-bold text-gradient -mt-4">ASTROSimpsons</h1>

	<p class="italic text-white">Tu Simpsopagina favorita hecha con ASTRO!</p>

	<nav>
		<ul class="flex justify-center mt-2 gap-4">
			<li>
				<a href="/" class="text-white hover:text-yellow transition-colors">Inicio</a>
			</li>
			<li>
				<a href="/personajes" class="text-white hover:text-yellow transition-colors">Personajes</a>
			</li>
			<li>
				<a href="/episodios" class="text-white hover:text-yellow transition-colors">Episodios</a>
			</li>
		</ul>
	</nav>
</header>

<style>
    .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
